<div class="container">
  <div style="width: 300px;">
    <select class="form-select" aria-label="Default select example" (change)="onChange($event.target.value)"
      [(ngModel)]="filter">
      <option [value]="filter.value" *ngFor="let filter of filters">{{filter.name}}</option>
    </select>
  </div>
  <div class="data">
    <ng-container *ngFor="let hit of hits | paginate: { itemsPerPage: hitsPerPage, currentPage: page, totalItems: totalItems
     }; let i = index">
      <div class="card">
        <div class="leftside" (click)="openTab(hit.story_url)">
          <small class="story_date">
            <span class="material-icons md-18">schedule</span>
            {{hit.created_at | date}} by {{hit.author}}</small>
          <p class="story_title">{{hit.story_title}}</p>
        </div>
        <div class="rightside" (click)="like(hit, i, hit.storage)">
          <img [src]="hit.storage ? '/assets/img/svg/heart-fill.svg' : '/assets/img/svg/heart-outline.svg'" alt="">
        </div>
      </div>
    </ng-container>
  </div>
  <div style="margin-bottom: 20px; text-align: center;">
    <ng-container *ngIf="hits.length">
      <pagination-controls (pageChange)="pageChanged($event)" responsive="true" previousLabel="" nextLabel="">
      </pagination-controls>
    </ng-container>
  </div>

</div>