<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-scale-ripple" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="header">
  <div class="header-title">
    <h1 class="title">HACKER NEWS</h1>

  </div>
</div>

<div class="container">
  <div class="selectors">
    <div class="selector" (click)="tab='all'" [ngClass]="{'active': tab==='all'}">All</div>
    <div class="selector" (click)="tab='fave'" [ngClass]="{'active': tab==='fave'}">My faves</div>
  </div>

  <ng-container *ngIf="tab === 'all'; else fave">
    <app-all></app-all>
  </ng-container>
  <ng-template #fave>
    <app-faves></app-faves>
  </ng-template>

</div>