<div class="container">
  <div style="width: 300px; visibility: hidden; ">
    <select class="form-select" aria-label="Default select example">
      <option selected>Select your news</option>
      <option value="angular">Angular</option>
      <option value="reactjs">Reactjs</option>
      <option value="vuejs">Vuejs</option>
    </select>
  </div>
  <div class="data">
    <ng-container *ngFor="let fave of faves; let i=index">
      <div class="card">
        <div class="leftside">
          <small class="story_date">{{fave.created_at | date}} by {{fave.author}}</small>
          <p class="story_title">{{fave.story_title}}</p>
        </div>
        <div class="rightside" (click)="like( i)">
          <img src="/assets/img/svg/heart-fill.svg" alt="">
        </div>
      </div>
    </ng-container>
  </div>
</div>