/* You can add global styles to this file, and also import other style files */

:root {
  --blue: #1797ff;
  --dark-gray: #3b3b3b;
  --medium-gray: #606060;
  --ligth-gray: #d6d6d6;
  --ligth-gray-2: #979797;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--dark-gray);
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  color: var(--dark-gray);
  font-family: "Libre Baskerville", serif;
}

p {
  font-weight: 500;
  color: var(--medium-gray);
  font-size: 0.875rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 114px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.header-title {
  padding: 44px 1082px 42px 150px;
}

.title {
  font-size: 1.75rem;
  font-weight: 300;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
}

.selectors {
  margin: 50px 0 80px;
  display: flex;
  justify-content: center;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  width: 98px;
  height: 31px;
  padding: 3px 39px 0 40px;
  cursor: pointer;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 90px;
  /* margin: 133px 40px 30px 150px; */
  margin: 20px;
  padding: 0 0 0 26px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px var(--ligth-gray);
  background-color: #fff;
}

div.card:hover {
  opacity: 0.3;
}

.card > .leftside {
  background-color: #fff;
  cursor: pointer;
  padding-top: 12px;
  width: 430px;
}

.card > .rightside {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ligth-gray-2);
  width: 70px;
  cursor: pointer;
}

.story_date {
  height: 13px;
  margin: 16px 0 7px 8px;
  font-size: 0.6875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--medium-gray);
}

.story_title {
  margin: 6px 16px 14px 0;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: var(--medium-gray);
}

.active {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--blue);
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: var(--blue);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: var(--blue);
  color: #fff;
  border: 1px solid var(--blue);
}

.pagination a:hover:not(.active) {
  background-color: var(--blue);
  color: #fff;
}

@media (min-width: 320px) {
  .container,
  .container-sm {
    max-width: calc(100vw - 7%);
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
  }

  .selectors {
    margin: 30px 20px;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .header-title {
    padding: 10px 50px;
  }

  .card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 10%);
    height: auto;
    margin: 10px 5px;
    padding: 0 0 0 5px;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px var(--ligth-gray);
    background-color: #fff;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
  .header {
    display: flex;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 114px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  }

  .header-title {
    padding: 10px 50px;
  }

  .data {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.ngx-pagination .current.ng-star-inserted {
  border: 1px solid var(--blue);
  border-radius: 5px;
}
.ngx-pagination .ng-star-inserted {
  border: 1px solid var(--ligth-gray-2);
  border-radius: 5px;
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
  .card {
    width: 500px;
    height: 90px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }

  .card {
    width: 500px;
    height: 90px;
  }
}
